
h3 {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding: 5px 0;
}

a {
    display: block;
}


.contacts-adress {
    border-bottom: 1px solid #e4e4ec;
    text-decoration: none;
}

.number {
    padding: 2px 0;
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

span {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
    font-weight: 400;
}

.adress {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.styled-element {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.header_content .tel a {
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.props p {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    padding: 1px 0;
}

.number-bank {
    padding: 5px 0;
}

iframe {
    min-width: 500px;
    height: 300px;
    margin-top: -59px;
    border: none;
}

.wrap {
    flex-wrap: wrap;
}

.map {
    position: relative;
    overflow: hidden;
}


form {
    width: 95%;
}

.forms {
    padding: 20px 0;
}

input {
    width: 100%;
}

input[type=text],
input[type=tel] {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    padding: 5px 5px;
    margin: 5px;
    font-size: 13rem;
    line-height: 21rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}


textarea {
    resize: vertical;
    border-radius: 3px;
    margin: 5px;
    width: 100%;
    min-height: 100px;
    max-height: 250px;
}


input::placeholder {
    padding: 15px;
}


input[type=checkbox] {
    appearance: none;
    width: 1px;
    padding: 6px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;

}


input[type=checkbox]:checked::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    top: 20%;
    left: 16%;
    rotate: -45deg;
    border: 2px solid #1f1f56;
    border-right: none;
    border-top: none;
}

input[type=submit] {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 21px;
    background-color: #fd8300;
    color: #fff;
    border: none;
}

textarea {
    padding: 15px;
}



#news {
    margin: -2px 0;
}

.news {
    padding: 20px 10px;
}

.maillist {
    padding: 0 10px 0 30px;
}



@media screen and (min-width: 400px) {
    .mainmenu {
        display: flex;
    }
}

@media screen and (min-width: 756px) {
    .contacts-adress {
        display: flex;
        justify-content: space-between;
    }

    form {
        width: 45%;
    }

    .map {
        max-width: 50%;
        min-width: 50%;
    }

    form p {
        display: inline;
    }

    input[type=submit] {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) {
    iframe {
        height: 335px
    }


    .forms {
        overflow: hidden;
    }

    form {
        width: 46%;
    }

    .map {
        width: 456px;
    }

    input[type=text],
    input[type=tel] {
        width: 47%;
    }

    #tema{
        width: 99%;
    }

    textarea {
        width: 99%;
    }

    input[type=submit] {
        width: 140px;
    }

    form p {
        display: inline;
    }

}

@media screen and (min-width: 1440px) {
    .wrapper {
        max-width: 78%;
    }
    p .tema {
        width: 581px;
    }

    .map {
        width: 50%;
    }

}
