* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    background-color: #fff;
    font-family: "Arial";
    font-size: 14rem;
    line-height: 24rem;
}

a {
    color: #b1b1d2;
    font-size: 14px;
    font-family: "Arial";
    line-height: 24px;
    text-decoration: none;
    transition: 0.3s;
}



li {
    color: #fff;
    font-family: "Arial";
    list-style-type: none;
    font-size: 14rem;
    line-height: 24rem;
    transition: 0.3s;
}

h2 {
    display: flex;
    color: #24242b;
    font-size: 24rem;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 24rem;
}

h3 {
    font-size: 14rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    line-height: 24rem;
}

header {
    box-shadow: (0, 0, 0, 5px);
}

.wrapper {
    margin: auto;
    max-width: 1280px;
    width: 80%;
}


.flex {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

nav {
    background-color: #1f1f56;
}

.social {
    align-items: center;
}

.social a {
    display: inline-block;
    vertical-align: middle;
    background: url(../image/sprite.png) no-repeat;
}

a.fb {
    height: 19px;
    width: 15px;
    background-position: 5px 0;
}

a.fb:hover {
    background-position: 5px -20px;
}

a.tw {
    width: 19px;
    height: 16px;
    background-position: -14px 0;
}

a.tw:hover {
    background-position: -14px -20px;
}

a.in {
    height: 20px;
    width: 20px;
    background-position: -36px 0;
}

a.in:hover {
    background-position: -35px -20px;
}

.supmenu a {
    color: #b1b1d2;
}

header a {
    font-size: 18rem;
    font-weight: bold;
    font-family: "Arial";
    line-height: 24px;
}

.mainmenu a {
    display: block;
    padding: 19px 10px;
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 24rem;
    font-weight: normal;
}

.mainmenu:first-child a {
    padding-left: 0;
}

.header_content {
    position: relative;
    padding: 40px 0;
    box-shadow: (0 0 5px rgba(0, 0, 0, 0.1));
}

.header_content:before {
    content: "";
    position: absolute;
    top: 25%;
    left: 48%;
    width: 2px;
    height: 52px;
    background-color: #e4e4ec;
}

.header_content a {
    color: #25252c;
}


.tel {
    display: flex;
    flex-direction: column;
    font-size: 16rem;
}

.tel a:last-child {
    padding: 0 35px;
}

.tel:after {
    content: "";
    border-right: 1px solid #e4e4ec;
}

.tel img {
    margin: 0 10px;
}

.messangers a {
    display: block;
    margin: 0 10px;
}

.messangers li {
    padding: 0 10px;
}

a.em {
    text-decoration: underline;
    padding-left: 30px;
    position: relative;
}

a.sk {
    padding-left: 30px;
    position: relative;
}

a.em::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 13px;
    background: url(../image/sprite.emsk.png);
    background-position: 0 -25px;
    transform: translateY(-50%);
}

a.sk::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    background: url(../image/sprite.emsk.png);
    background-position: -25px -25px;
    transform: translateY(-50%);

}

.button {
    margin-left: 10px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 25px;
    border: 2px solid #fd8300;
}

.button:hover {
    color: #1f1f56;
    background-color: #fd8300;
}


.banner {
    color: #ffffff;
    padding: 60px 0 40px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/banner.webp);
    background-size: 100%;
}


.price {
    color: #fd8300;
    font-size: 24px;
    line-height: 24px;
}

span {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

sup {
    font-size: 12rem;
}

.banner b {
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    font-size: 40rem;
    line-height: 24rem;
}

main {
    margin: 35px 0;
}

.sale {
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    font-size: 30rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info {
    margin: 15px 0;
}

article {
    border-bottom: #e4e4ec solid 1px;
}

article a {
    display: block;
    margin: 15px 0;
    text-decoration: underline;
}

.flex_wrap {
    flex-wrap: wrap;
}

h1 {
    color: #24242b;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}

.description p {
    color: #666666;
}

.description:first-child p {
    padding-bottom: 10px;
}

.description a {
    color: #fd8300;
    font-weight: bold;
}

a:hover {
    color: #fd8300;
}


aside {
    display: block;
    overflow: hidden;
    border-radius: 3px;
    width: 23%;
    min-width: 220px;
}

aside li {
    position: relative;
}


aside li::after {
    content: "";
    position: absolute;
    background: url(../image/strelochka.png)no-repeat;
    width: 8px;
    height: 12px;
    background-position: 0 0px;
    top: 21px;
    left: 85%;
    transition: 0.3s;
}

aside li:hover::after {
    background-position: 0 -13px;
}


.supmenu li::after {
    content: "";
    background: none;
}

aside li:hover {
    background-position: 0 -20px;
}

.aside-menu>li:last-child a {
    border: none;
}

aside b {
    display: block;
    padding: 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    font-size: 16rem;
    background-color: #1f1f56;
    line-height: 24px;
}


aside a {
    display: block;
    font-size: 14rem;
    line-height: 24rem;
    color: #25252c;
    padding: 15px;
    background-color: #e4e4ec;
    border-bottom: 1px solid #cdcddd;
}

ul li:last-child a {
    border: none;
}

li:hover .supmenu {
    display: block;
}

.supmenu {
    display: none;
}

.supmenu a {
    color: #666;
    padding-left: 30px;
}

aside li:hover>a {
    color: #fff;
    background-color: #fd8300;
}

.supmenu li:hover>a {
    color: #666;
    background-color: #cecedd;
}


h2 {
    margin: 25px 0;
}

.houses {
    display: flex;
    margin-bottom: 45px;
}

figure {
    position: relative;
    width: 30%;
}

figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
}

figcaption p:nth-child(odd) {
    margin: 5px 0;
}

figure:hover h3 {
    text-decoration: underline;
}

figure p {
    color: #9999a6;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}


footer {
    background-color: #ededf5;
}

footer a {
    color: #666666;
    line-height: 26rem;
}

footer .wrapper {
    padding: 35px 0;
}

footer a:hover {
    text-decoration: underline;
}

.tel a {
    font-size: 18rem;
    font-weight: bold;
    color: #25252c;
}


.contacts a {
    font-size: 16rem;
    text-decoration: underline;
    color: #25252c;
}

footer p {
    padding: 15px 0;
    text-align: center;
    background-color: #dcdce6;
    color: #9999a6;
}


a.em::before:hover {
    background-position: 1px 25px;
}

.messangers a:hover {
    color: #fd8300
}

.tel a:hover {
    color: #fd8300;
}

.list a:hover {
    color: #fd8300;
}